*{
margin: 0;
padding: 0;
}


html, body{
height: 100%;
width: 100%;
background-color: rgb(70, 161, 152);
text-align: center;
}




.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.hide{
    display: none;
}



.game{
    position: relative;
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}


.win-line {
  position: absolute;
  height: 8px; /* Made thicker */
  background-color: red;
  border-radius: 5px;
  width: 0;
  top: 0;
  left: 0;
  transform-origin: left center;
  transition: width 0.5s ease, transform 0.5s ease, top 0.5s ease, left 0.5s ease;
  z-index: 3; /* Appears in front of the boxes */
  opacity: 0.5; /* Lower opacity */
}





.box{
    position: relative;
    z-index: 2;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(1, 1, 1,0.7);
    font-size: 8vmin;
     color: #333333;
    background-color: white;
}



.box:empty {
  color: black;
}

.box.x {
  color: #1E90FF;
}

.box.o {
  color: #FF4500;
}


.box:active {
    transform: scale(0.95);
    background-color: #ddd;
}




#reset-btn{
    padding: 0.6rem;
    font-size: 1.3rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(1, 1, 1,0.7);
}




#msg{
font-size: 30px;   
margin-bottom: 12px; 
}



#new-btn{
    padding: 0.6rem;
    font-size: 1.2rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
    margin-bottom: 42px;
    box-shadow: 0 0 1rem rgba(1, 1, 1,0.7);
}